html, body{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.avatar-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.text-indent {
    text-indent: 20px;
}